[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=2
hostname=${IP}.0.2
datadir=/var/lib/mysql

[mysqld]
NodeId=3
hostname=${IP}.0.3

[ndbd]
hostname=${IP}.0.4
datadir=/var/lib/mysql

[ndbd]
hostname=${IP}.0.5
datadir=/var/lib/mysql
