[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=2
hostname=172.50.0.2
datadir=/var/lib/mysql

[mysqld]
NodeId=3
hostname=172.50.0.3

[ndbd]
hostname=172.50.0.4
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.5
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.6
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.7
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.8
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.9
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.10
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.11
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.12
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.13
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.14
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.15
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.16
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.17
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.18
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.19
datadir=/var/lib/mysql

[ndbd]
hostname=172.50.0.20
datadir=/var/lib/mysql