[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M


[ndb_mgmd]
NodeId=2
hostname=172.50.0.2
datadir=/var/lib/mysql

[ndbd]
NodeId=3
hostname=node_1
datadir=/var/lib/mysql

[ndbd]
NodeId=4
hostname=node_2
datadir=/var/lib/mysql

[mysqld]
NodeId=10
hostname=172.50.0.10
